#html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Esto es importante para centrar verticalmente */
}
#container-forgot{
    background-color: #83C2CF;
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 10%;
    border: 3px solid black;
    height: 70vh;
    margin-left: 35%;
}
#cuerpo-forgot{
    background-color: #83C2CF;
    justify-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#enlace-forgot{
    margin-bottom: 3%;
}

#cambiar-forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cambiar-forgot input[type='submit']{
    background-color: #746C6C;
    color: #FFFF;
}

.campos-forgot input{
    margin-bottom: 8%;
}

.campos-forgot article{
    margin-bottom: 5%;
}

#mensaje_error-forgot{
    color: red;
}

#password{
    margin-top: 5%;
}
